In [12]:
# I'm going to do a KNN analysis of the postal codes areas in toronto. 
# I'm going to be able to determine, given a post code what are the best other districts to visit for food

In [1]:
import pandas as pd
import requests
import json
from sklearn.cluster import KMeans
import matplotlib.cm as cm
import matplotlib.colors as colors
import math
import numpy as np

In [14]:
df = pd.read_csv(r"C:\Users\BenjaminWeller\Documents\Projects\Notebook\Geospatial_Coordinates.csv")
df.rename(columns={"Postal Code":"Postcode"}, inplace=True)
df.head()

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

In [20]:
def nearby_venues(names, latitudes, longitudes, radius=500, limit=1000):
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            limit)         
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']["id"],
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])
    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Postcode', 
                  'Postcode Latitude', 
                  'Postcode Longitude', 
                  'Venue',
                  "Venue_ID",
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']    
    return(nearby_venues)

In [21]:
toronto_venues = nearby_venues(names=df['Postcode'],
                                   latitudes=df['Latitude'],
                                   longitudes=df['Longitude']
                                  )

In [22]:
toronto_venues.to_excel(r"C:\Users\BenjaminWeller\Documents\Projects\Notebook\toronto_venues.xlsx")

In [4]:
toronto_venues = pd.read_excel(r"C:\Users\BenjaminWeller\Documents\Projects\Notebook\toronto_venues.xlsx")

In [3]:
toronto_venues.head()

,Unnamed: 0,Postcode,Postcode Latitude,Postcode Longitude,Venue,Venue_ID,Venue Latitude,Venue Longitude,Venue Category
0,0,M1B,43.806686,-79.194353,Wendy's,4bb6b9446edc76b0d771311c,43.807448,-79.199056,Fast Food Restaurant
1,1,M1B,43.806686,-79.194353,Interprovincial Group,5539e7d2498edaf4b02673ca,43.805630,-79.200378,Print Shop
2,2,M1C,43.784535,-79.160497,Chris Effects Painting,587eee906d349d5759059742,43.784343,-79.163742,Construction & Landscaping
3,3,M1C,43.784535,-79.160497,Royal Canadian Legion,4c23d3aaf7ced13a5ed7216d,43.782533,-79.163085,Bar
4,4,M1E,43.763573,-79.188711,Swiss Chalet Rotisserie & Grill,4b6074e3f964a5200fe729e3,43.767697,-79.189914,Pizza Place

In [3]:
def get_likes(venue_ids):
    my_list = []
    for venue, number in zip(venue_ids, range(925)):
        #Get the likes for the place 
        url = f"https://api.foursquare.com/v2/venues/{venue}?&client_id={CLIENT_ID}&client_secret={CLIENT_SECRET}&v={VERSION}"
        json = requests.get(url).json()
        if json.get("response") and \
        json.get("response").get('venue') and \
        json.get("response").get('venue').get("likes") and \
        json.get("response").get('venue').get("likes").get("count"):
            likes = json.get("response").get('venue').get("likes").get("count")
            my_list.append([venue, likes])
        else:
            my_list.append([venue, None])
        retruned = pd.DataFrame(my_list)
        retruned.columns = ["Venue_ID","Likes"]
    return retruned

In [5]:
partial_venues = get_likes(toronto_venues["Venue_ID"])

In [6]:
partial_venues.shape

(925, 2)

In [7]:
partial_venues.head()

                   Venue_ID  Likes
0  4bb6b9446edc76b0d771311c    1.0
1  5539e7d2498edaf4b02673ca    NaN
2  587eee906d349d5759059742    NaN
3  4c23d3aaf7ced13a5ed7216d    1.0
4  4b6074e3f964a5200fe729e3    9.0

In [13]:
partial_venues[partial_venues["Likes"] != None]

                     Venue_ID Likes
0    4bb6b9446edc76b0d771311c  None
1    5539e7d2498edaf4b02673ca  None
2    587eee906d349d5759059742  None
3    4c23d3aaf7ced13a5ed7216d  None
4    4b6074e3f964a5200fe729e3  None
5    4c62f34bde1b2d7fec89e370  None
6    522deb21abdf65cfbab70655  None
7    5411f741498e9ebd5e35d8bd  None
8    5b8004ff9fca56002cffd9cc  None
9    4c1c7f9bb306c9288f0464b7  None
10   4b9008acf964a520737133e3  None
11   513b84e6e4b0ef935943c0ad  None
12   4d95bd2ddaec224bf7bf043e  None
13   4cc1d28c06c254815ac18547  None
14   5164bf50e4b0ca7ab1d9ed8b  None
15   4de0403ed4c040523ea079f4  None
16   51689731e4b05f2bcc1c0ff3  None
17   4b1711a6f964a520cbc123e3  None
18   4e261f261f6eb1ae13930699  None
19   4c27da423492a593158cb628  None
20   4b931d41f964a520d43534e3  None
21   4cf987f9c6cca35d2d988032  None
22   4e42cfc56284d1faa44a1083  None
23   53a66329498ea26469816eb2  None
24   4cddfe25db125481ff0b2ece  None
25   5150a8dae4b045dfb6581c85  None
26   4b6a37ccf964a520a5cd2be3  None
27   4c6aa500c946e21ec432ed8e  None
28   4f6347b5e4b036e3e6d5dee6  None
29   504759aee4b008d1e233f15b  None
..                        ...   ...
895  4b8d4365f964a520a0f032e3  None
896  4ad4c05ff964a52037f720e3  None
897  4adf85e1f964a5206e7b21e3  None
898  4b2a6eb8f964a52012a924e3  None
899  4ad77a12f964a520260b21e3  None
900  518e6d3a498e3e5f52a938e3  None
901  4ccad68a19f376b060625eea  None
902  4b86b209f964a520cf9631e3  None
903  4b749e98f964a5202ce82de3  None
904  4c6eb1c9c524370414ae2beb  None
905  55314880498eca93a62e17ec  None
906  4ae19720f964a520588621e3  None
907  4bd0b30d41b9ef3b8fa0fae5  None
908  4b647148f964a52080b32ae3  None
909  536fd522498e09c6690800e2  None
910  4b40f62ef964a52050be25e3  None
911  4ae25ef2f964a520c08d21e3  None
912  5502123f498ec719aab7c5f3  None
913  4ad788c8f964a520e40b21e3  None
914  4e1de62a31516450302586e3  None
915  4b8010c5f964a520054f30e3  None
916  561ffc99498e1468dac63cdd  None
917  597ae286b2958f7e52761fe8  None
918  59ab10e242d8c27897e996cb  None
919  4dc16c718877c00d6ad7f2a6  None
920  4b06e099f964a52002f222e3  None
921  4af2fe17f964a5209de921e3  None
922  54d7ab36498e189aaed34185  None
923  4e91f9b546908c033fb57c50  None
924  4d3997e1687ca35dbd0081c4  None

[925 rows x 2 columns]

In [8]:
partial_venues.to_excel(r"C:\Users\BenjaminWeller\Documents\Projects\Notebook\partial_venues.xlsx")

In [5]:
partial_venues = pd.read_excel(r"C:\Users\BenjaminWeller\Documents\Projects\Notebook\partial_venues.xlsx")

In [ ]:
partial_venues = partial_venues[partial_venues["1"]]

In [ ]:
toronto_venues = getNearbyVenues(names=new_df['Postcode'],
                                   latitudes=new_df['Latitude'],
                                   longitudes=new_df['Longitude']
                                  )

In [23]:
yolo_df = get_likes(toronto_venues["Venue_ID"])

KeyError: 'venue'

In [ ]:
yolo_df